<h4 class="text-gray mb-4">{{ category }}</h4>
<div class="row">
  <div *ngFor="let book of books" class="figure d-flex flex-column justify-content-around col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6">
    <img src="../assets/images/empty.png" class="figure-img img-thumbnail rounded">
    <div>
      <h5 class="text-gray">
        <a class="noUnderline text-gray link" id="{{ book.id }}" (click)="bookId=$event.target.id; changeMode(); changeBookId()">
          {{ book.title }}
        </a>
      </h5>
      <h6>{{ book.author }}</h6>
      <h6>{{ book.price }} zł</h6>
    </div>
  </div>
</div>