<div class="container">
  <header class="pt-4 pb-4 row bg-primary text-white">
    <div class="logo col-sm-6">
      <a href="" class="text-white">NaszaKsiegarnia.pl</a>
    </div>
    <div class="basket col-sm-3">
      <a href=""><h4>Twój koszyk</h4></a>
      <h6>99,99 zł</h6>
    </div>
    <div class="your-profile col-sm-3">
      <a href=""><h4>Twoje konto</h4></a>
      <div class="hgroup row">
        <a href="" class="col-xl-4 col-lg-5 col-md-6"><h6>Logowanie</h6></a>
        <a href="" class="col-xl-4 col-lg-5 col-md-6"><h6>Rejestracja</h6></a>
      </div>
    </div>
  </header>
  <form action="/" method="post" class="margins">
    <div class="form-row align-items-center">
      <div class="col-md-3">
        <select name="category" class="form-control">
          <option>Lektury</option>
          <option>Literatura piękna</option>
          <option>Literatura faktu</option>
          <option>Literatura dziecięca</option>
          <option>Podręczniki</option>
          <option>Encyklopedie i słowniki</option>
          <option>Komiksy</option>
          <option>Poezja</option>
          <option>Poradniki</option>
          <option>Sport i turystyka</option>
          <option>Pozostałe</option>
        </select>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" name="keywords" placeholder="Wpisz słowa kluczowe" />
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Szukaj</button>
      </div>
    </div>
  </form>
  <nav class="margins navbar navbar-expand navbar-light bg-light rounded">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav row mx-auto">
          <li class="nav-item">
              <a href="" class="nav-link">Lektury</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Literatura piękna</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Literatura faktu</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Literatura dziecięca</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Podręczniki</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Encyklopedie i&nbsp;słowniki</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Komiksy</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Poezja</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Poradniki</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Sport i&nbsp;turystyka</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Pozostałe</a>
          </li>
        </ul>
      </div>
    </nav>
  <section class="margins">
    Treść strony
  </section>
  <footer class="margins">
    <div class="row" style="text-align: center;">
      <h3 class="newsletter col-md-2">Newsletter: </h3>
      <form action="/" method="post" class="col">
        <div class="form-row align-items-center">
          <div class="col-md-8">
            <input type="text" class="form-control" id="newsletter" name="subscriber" placeholder="Wpisz adres e-mail" />
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Zamów</button>
          </div>
        </div>
      </form>
    </div>
    <div class="info-pages d-flex justify-content-between margins">
      <a href="" class="p-2">O nas</a>
      <a href="" class="p-2">Sposoby i koszty dostawy</a>
      <a href="" class="p-2">Regulamin</a>
      <a href="" class="p-2">Pomoc</a>
      <a href="" class="p-2">Kontakt</a>
    </div>
  </footer>
</div>
