<div class="body">
  <div class="container">
    <header class="pt-4 pb-4 row text-gray">
      <div class="logo col-sm-6">
        <h3><a href="" class="noUnderline text-gray">NaszaKsiegarnia.pl</a></h3>
      </div>
      <div class="basket col-sm-3 col-6">
        <h3><a href="" class="noUnderline text-gray">Twój koszyk</a></h3>
        <a href="" class="noUnderline text-blue">99,99 zł</a>
      </div>
      <div class="your-profile col-sm-3 col-6">
        <h3><a href="" class="noUnderline text-gray">Twoje konto</a></h3>
        <div class="hgroup row">
          <h6><a href="" class="noUnderline col-xl-4 col-lg-5 col-md-6 text-orange">Logowanie</a></h6>
          <h6><a href="" class="noUnderline col-xl-4 col-lg-5 col-md-6 text-orange">Rejestracja</a></h6>
        </div>
      </div>
    </header>
    <div class="background">
    <form action="/" method="post" class="paddings margins bg-primary bradius-top">
      <div class="form-row align-items-center">
        <div class="col-md-3 col-sm-3 min">
          <select name="category" class="form-control">
            <option>Lektury</option>
            <option>Literatura piękna</option>
            <option>Literatura faktu</option>
            <option>Literatura dziecięca</option>
            <option>Podręczniki</option>
            <option>Encyklopedie i słowniki</option>
            <option>Komiksy</option>
            <option>Poezja</option>
            <option>Poradniki</option>
            <option>Sport i turystyka</option>
            <option>Pozostałe</option>
          </select>
        </div>
        <div class="col-md-5 col-sm-5 min">
          <input type="text" class="form-control" name="keywords" placeholder="Wpisz słowa kluczowe" />
        </div>
        <div class="col-md-3 col-sm-3 min">
          <button class="btn btn-primary background-light-blue">Szukaj</button>
        </div>
      </div>
    </form>
    <nav class="paddings margins navbar navbar-expand navbar-light bg-light bradius-bottom background">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav row mx-auto">
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Lektury</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Literatura piękna</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Literatura faktu</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Literatura dziecięca</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Podręczniki</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Encyklopedie i&nbsp;słowniki</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Komiksy</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Poezja</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Poradniki</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Sport i&nbsp;turystyka</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-gray">Pozostałe</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <section class="adres text-light-gray paddings margins">
      <b><span>Obecnie znajdujesz się w: </span></b>
    </section>
    <section class="paddings margins bradius mb-4 bg-white">
      Treść strony
    </section>
    <footer class="paddings margins background-blue mt-4 bradius">
      <div class="row newsletter-section mt-4" style="text-align: center;">
        <h3 class="newsletter col-md-3 col-sm-4 text-white">Newsletter: </h3>
        <form action="/" method="post" class="col">
          <div class="form-row align-items-center">
            <div class="col-md-7 col-sm-6 min">
              <input type="text" class="form-control" id="newsletter" name="subscriber" placeholder="Wpisz adres e-mail" />
            </div>
            <div class="col-md-2 col-sm-2 min">
              <button type="submit" class="btn btn-primary">Zamów</button>
            </div>
          </div>
        </form>
      </div>
      <div class="info-pages d-flex flex-wrap justify-content-around paddings bradius mt-4 background min">
        <a href="" class="p-2 text-white" style="text-align: center;">O&nbsp;nas</a>
        <a href="" class="p-2 text-white" style="text-align: center;">Sposoby i&nbsp;koszty dostawy</a>
        <a href="" class="p-2 text-white" style="text-align: center;">Regulamin</a>
        <a href="" class="p-2 text-white" style="text-align: center;">Kontakt</a>
      </div>
    </footer>
    <div class="pb-4 pt-4" style="text-align: center;">
      <b><span>Projekt wykonany w ramach przedmiotu TAS.</span></b>
    </div>
  </div>
</div>
