<div class="body">
  <div class="container">
    <header class="pt-4 pb-4 row text-gray">
      <div class="logo col-sm-6">
        <h3><a class="noUnderline text-gray link" modeNewest="0" (click)="mode = 0">NaszaKsiegarnia.pl</a></h3>
      </div>
      <div class="basket col-sm-3 col-6">
        <h3><a class="noUnderline text-gray link">Twój koszyk</a></h3>
        <a class="noUnderline text-blue  link">{{ basket }} zł</a>
      </div>
      <div class="your-profile col-sm-3 col-6">
        <h3><a class="noUnderline text-gray link">Twoje konto</a></h3>
        <div class="hgroup row">
          <h6><a class="noUnderline col-xl-4 col-lg-5 col-md-6 text-orange link">Logowanie</a></h6>
          <h6><a class="noUnderline col-xl-4 col-lg-5 col-md-6 text-orange link">Rejestracja</a></h6>
        </div>
      </div>
    </header>
    <div class="background">
    <form action="/" method="post" class="paddings margins bg-primary bradius-top">
      <div class="form-row align-items-center">
        <div class="col-md-3 col-sm-3 min">
          <select (change)="category = $event.target.value" name="category" class="form-control">
            <option label="-- wybierz kategorię --"></option>
            <option>Lektury</option>
            <option>Literatura piękna</option>
            <option>Literatura faktu</option>
            <option>Literatura dziecięca</option>
            <option>Podręczniki</option>
            <option>Encyklopedie i słowniki</option>
            <option>Komiksy</option>
            <option>Poezja</option>
            <option>Poradniki</option>
            <option>Sport i turystyka</option>
            <option>Pozostałe</option>
          </select>
        </div>
        <div class="col-md-5 col-sm-5 min">
          <input type="text" class="form-control" name="keywords" (keyup)="query = $event.target.value" placeholder="Wpisz słowa kluczowe" />
        </div>
        <div class="col-md-3 col-sm-3 min">
          <button class="btn btn-primary background-light-blue" (click)="getBooks(); mode = 3">Szukaj</button>
        </div>
        <a class="text-white mt-2 link" (click)="mode = 2">Wyszukiwanie zaawansowane</a>
      </div>
    </form>
    <nav class="paddings margins navbar navbar-expand navbar-light bg-light bradius-bottom background">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav row mx-auto">
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Lektury</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Literatura piękna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Literatura faktu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Literatura dziecięca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Podręczniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Encyklopedie i&nbsp;słowniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Komiksy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Poezja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Poradniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Sport i&nbsp;turystyka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray link" (click)="mode = 4; categorySearch = $event.target.textContent">Pozostałe</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <section class="adres text-light-gray paddings margins"></section>
    <section class="paddings margins bradius mb-4 bg-white" [ngSwitch]="mode">
      <app-static-pages *ngSwitchCase="1"></app-static-pages>
      <app-advanced-search *ngSwitchCase="2"></app-advanced-search>
      <app-books-in-search *ngSwitchCase="3"></app-books-in-search>
      <app-books-in-category category="{{ categorySearch }}" (modeChanged)="setMode($event)" (bookIdChanged)="setIdBook($event)" *ngSwitchCase="4"></app-books-in-category>
      <app-about-book *ngSwitchCase="5"  ident="{{ idBook }}" (load)="getBooks()" (basketChanged)="setBasket($event)"></app-about-book>
      <app-newest (modeChanged)="setMode($event)" (bookIdChanged)="setIdBook($event)" *ngSwitchDefault></app-newest>
    </section>
    <footer class="paddings margins background-blue mt-4 bradius">
      <div class="row newsletter-section mt-4" style="text-align: center;">
        <h3 class="newsletter col-md-3 col-sm-4 text-white">Newsletter: </h3>
        <form action="/" method="post" class="col">
          <div class="form-row align-items-center">
            <div class="col-md-7 col-sm-6 min">
              <input type="text" required class="form-control" id="newsletter" name="subscriber" (keyup)="email = $event.target.value" placeholder="Wpisz adres e-mail" />
            </div>
            <div class="col-md-2 col-sm-2 min">
              <button type="submit" class="btn btn-primary" (click)="saveEmail()">Zamów</button>
            </div>
          </div>
        </form>
      </div>
      <div class="info-pages d-flex flex-wrap justify-content-around paddings bradius mt-4 background min">
        <a class="p-2 text-white link" style="text-align: center;" (click)="mode = 1">O&nbsp;nas</a>
        <a class="p-2 text-white link" style="text-align: center;" (click)="mode = 1">Sposoby i&nbsp;koszty dostawy</a>
        <a class="p-2 text-white link" style="text-align: center;" (click)="mode = 1">Regulamin</a>
        <a class="p-2 text-white link" style="text-align: center;" (click)="mode = 1">Kontakt</a>
      </div>
    </footer>
    <div class="pb-4 pt-4" style="text-align: center;">
      <b><span>Projekt wykonany w ramach przedmiotu TAS.</span></b>
    </div>
  </div>
</div>
