<div class=" col-md-9 col-lg-9 ">
  <h1>Twój profil</h1>
  <table class="table table-user-information">
    <tbody>
      <tr>
        <td>Login:</td>
        <td>{{login}}</td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td>Imię:</td>
        <td>{{imie}}</td>
      </tr>
      <tr>
        <td>Nazwisko:</td>
        <td>{{nazwisko}}</td>
      </tr>
      <tr>
        <td>Nr. telefonu:</td>
        <td>{{telefon}}</td>
      </tr>
      <tr>
        <td>Ulica:</td>
        <td>{{ulica}}</td>
      </tr>
      <tr>
        <td>Miasto:</td>
        <td>{{miasto}}</td>
      </tr>
      <tr>
        <td>Kod pocztowy:</td>
        <td>{{kodPocztowy}}</td>
      </tr>
    </tbody>
  </table>
<button type="submit" class="btn btn-primary">Edytuj profil</button>
</div>