<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 centerMargin">
    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Login" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="password" placeholder="Hasło" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input id="emailAddress" type="email" placeholder="E-mail" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Imię" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Nazwisko" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="tel" placeholder="Telefon" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Ulica" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Miasto" class="form-control input-lg" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="form-group">
        <div>
          <input type="text" placeholder="Kod pocztowy" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
      <div class="row">
        <button class="btn btn-primary centerMargin">Zarejestruj się</button>
      </div>
    </div>


  </div>
</div>