<h4 class="text-gray mb-4">Koszyk</h4>
<div class="row">
  <ul class="list-group">
    <li *ngFor="let book of zamowienie" class="list-group-item">
      <img src="../assets/images/empty.png" class="figure-img img-thumbnail rounded removeMargin">
      <a class="noUnderline text-gray link">{{book.nazwa}}</a>
      <p class="removeMargin">{{book.imie_autora}} {{book.nazwisko_autora}}</p>
      <p class="removeMargin">{{book.ilosc}} szt.</p>
      <p class="removeMargin">{{book.cena}}</p>
      <button type="button" [(id)]=book.id_ks (click)="deleteFromBasket($event)" class="btn btn-primary background-light-blue">Usuń z koszyka</button>
    </li>
  </ul>
</div>
<div class="summary">
  <h5>
    Razem: {{suma}} zł.
  </h5>
  <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</div>